label {
    color: rgb(226, 16, 16);
}

.btn-default {
    color: rgb(1, 31, 1);
    font-size: medium;
    background-color: rgb(196, 57, 6)
}

body {
	background-image: url("../images/quote-bg-img.jpg");
    font: Times New Roman;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(68, 15, 68)
}

.holder {
    float: right;
}

.jumbotron {
    text-align: center;
    color: rgb(5, 5, 126);
    background-color: rgb(251, 255, 0)
}

html {
    background-color: rgb(138, 39, 3)
}

button, div, form, input {
    margin: 5px;
}

img {
	max-width: 200px;
    max-height: 200px;
}